.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 10%;
    padding: 1%;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 1000;
}

.header-tree-circle {
    width: 5%;
    /* height: 10%; */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-tree-icon {
    width: 60%;
    height: 60%; 
    object-fit: contain;
}

.header-expand-bar {
    aspect-ratio: 12 / 1;
    background-color: #E0FFDF;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-items: space-evenly;
    gap: 2vw;
    padding: 1% 3%;
    font-weight: 600;
    font-size: 1.5em;
    transition: all 1s;
    opacity: 0;
    pointer-events: none;
}

.header-expand-bar.active {
    opacity: 100%;
    pointer-events: all;
}

.logo-container {
    width: 6%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5%);
}

.logo-icon {
    width: 100%;
    height: 100%;
    display: block;
    /* transition: all 0.5s; */
    opacity: 100%;
    margin: 10%;
}

/* .logo-icon.active {
    opacity: 100%;
} */

