/* Font */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

/* Background */
.landing-page-background {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #78D8A4;
    height: 100vh;
    width: 100vw;
}

/* Text */
.landing-page-text {
    color: #E0FFDF;
    text-align: center;
    font-size: 15vh;
    font-style: normal;
    font-weight: 600;
    text-shadow: -1px -1px 2px #714D22, /* Top-left shadow */
    1px -1px 2px #714D22, /* Top-right shadow */
   -1px  1px 2px #714D22, /* Bottom-left shadow */
    1px  1px 2px #714D22; /* Bottom-right shadow */;
}

.landing-page-text-container {
    position: absolute;
    top: 15.5%;
    width: 65vw;
    justify-content: center;
    flex-shrink: 1;
}

.landing-page-trees {
    background-image: url('../../../images/background_trees.svg');
    background-position: bottom;
    background-size: cover; /* Adjust size of the background image */
    background-repeat: no-repeat; /* Prevent background from repeating */
}

.k-logo-container {
    width: 4%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 3%;
    bottom: 0;
    /* transform: translate(-50%, -5%); */
}

.k-logo {
    width: 100%;
    height: auto;
    display: block;
    margin: 10%;
}

.box {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid var(--light-green);
    border-right: 2px solid var(--light-green);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: .2s;
}

.box span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes animate 
{
    0%
    {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* Phone Layout */

@media screen and (max-width: 768px) {
    .landing-page-text {
        color: #E0FFDF;
        text-align: center;
        font-family: DynaPuff;
        font-size: 5em;
        font-style: normal;
        font-weight: 600;
        width: 100%;
    }

    .landing-page-text-container {
        position: absolute;
        top: 20%;
        justify-content: center;
    }
}