/* Font */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

/* Background */
.action-page-background {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #78D8A4;
    height: 100vh;
    width: 100vw;
}

/* Directory Button */
.directory-button {
    display: inline-block;
    transition: transform 0.3s ease;
}

.directory-button:hover {
transform: scale(1.05); /* Slight zoom on hover */
}

.directory-button svg path {
    transition: fill 0.3s ease;
}

.directory-button:hover svg path {
    fill: #93642D; /* Change color on hover */
}

/* .button-container {
    display: flex;
    justify-content: space-between;
} */
  
.button-text {
    /* color: #E0FFDF; */
    /* text-align: center; */
    font-family: DynaPuff;
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: 0.1vh;
}
