/* Font */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

/* Background */
.action-page-background {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 2vw; /* Optional: space between buttons */
    justify-items: center;
    align-items: center;
    /* flex-direction: row;
    justify-content: center; */
    background-color: #78D8A4;
    height: 100vh;
    width: 100vw;
}

.button-containter {
    display: grid;
    height: 50vh;
    width: 50vw;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
}

/* Directory Button */
.button {
    width: 100%;
    transition: transform 0.3s ease;
}

.button:hover {
transform: scale(1.05); /* Slight zoom on hover */
}

.button svg path {
    transition: fill 0.3s ease;
}

.button:hover svg path {
    fill: #93642D; /* Change color on hover */
}
  
.button-text {
    /* color: #E0FFDF; */
    /* text-align: center; */
    font-family: DynaPuff;
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: 0.1vh;
}

.tree-icon {
    width: 183px;
    height: 274px;
    background-image: url('../../public/images/tree-icon-3-1.svg');
    background-position: center;
    background-size: fit; /* Adjust size of the background image */
    background-repeat: no-repeat; /* Prevent background from repeating */
    z-index: 2;
}

.button-tree-only {
    display: inline-block;
    transition: transform 0.3s ease;
}

.button-tree-only:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.button-tree-only svg path {
    transition: fill 0.3s ease;
}

.button-tree-only:hover svg path {
    fill: #dfcc60; /* Change color on hover */
}