.login {
    display: flex;
    flex-direction: column;
    background-color: var(--mid-green); 
    height: 100vh;
    font-family: DynaPuff;
}

.login-body {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80%;

    max-width: 1200px;
    margin-top: 50px;
    gap: 40px;
}

.login-body-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: DynaPuff;
}

.login-body-left * {
    font-family: DynaPuff;
}

.login-welcome-text {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form-field {
    display: flex;
    flex-direction: column;
}

.login-form-field label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.login-form-field input {
    background-color: var(--light-green);
}

.login-input {
    padding: 10px;
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    font-size: 1em;
}

.login-button {
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #4a8f4f; /* Darker green for the button */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.login-button:hover {
    background-color: #3a7f3f; /* Darker shade for hover */
}

.login-body-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-tree-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

