.App {
  text-align: center;
  font-family: DynaPuff;
  width: 100vw;
}
.home {
  text-align: center;
  width: 100vw;
}

.App * {
  font-family: DynaPuff;
}

.logIn-button {
  position: absolute; 
  top: 3.5vh; 
  right: 6vw; 
  padding: 10px 20px;
  background-color: var(--light-orange);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: DynaPuff;
  z-index: 1000000;
}

.logOut-button {
  position: absolute; 
  top: 20px; 
  right: 6vw; 
  padding: 10px 20px;
  background-color: var(--light-orange);
  border: none;
  border-radius: 5px;
  color: #002550;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: DynaPuff;
  z-index: 1000000;
}


.logIn-button:hover {
  background-color: var(--grey);
  color: white;
}

.logOut-button:hover {
  background-color: var(--grey);
  color: black;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content * {
  font-family: DynaPuff;
}


.modal-content {
  background: var(--mid-green);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.long-modal-content{
  height: 85%;
}


.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.long-modal-form {
  gap: 0px;
}

.modal-form > input {
  background-color: var(--light-green);
  padding: 10px;
  border: 2px solid var(--dark-green);
  border-radius: 8px;
  font-size: 1em;
}

.modal-close {
  align-self: flex-end;
  cursor: pointer;
  position: absolute
       
}


.action-button {
  background-color: var(--mid-green);
}

.buttons-edit-delete {
  display: flex;
  gap: 10px;
}

.submit-button {
  background-color: var(--light-green);
  border: none;
  border-radius: 15px;
  transform: background-color color 1s;
  height: 30px;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: var(--dark-green);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal-form > input.readonly-input {
  cursor: not-allowed;
  background-color: var(--light-green);
  opacity: 0.7;
}

/* Define variable */
:root {
  --dark-green: #76b182;
  --darker-green: #345D33;
  --mid-green: #78D8A4;
  --light-green: #E0FFDF;
  --grey: #345D33;
  --light-yellow: #FFC727;
  --light-orange: #F2A144;
  --border-radius: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
